<!doctype html>
<html lang="en">
<%- include('header_meta_content'); %>
  
<body>
    <div class="container">
		<%- include('header'); %>
		
		<div class="container">
			<h1 class="mb-4">New Blog Post</h1>

			<form enctype="multipart/form-data" action="/blog_post" method="POST">
				<%- include('blog_form_fields') %>
			</form>
		</div>

		
	</div>
	
	
	<%- include('footer'); %>

</body>
</html>