<div class="comment-container mb-5 mt-5">
    
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center mb-5">Comments</h3>
                <div class="row">
                    <div class="col-md-12">
                        <% for ( var i = 0; ( posting.comments && i <  posting.comments.length ); i = i +1 ){ %>
                            <%- include('comment', {comment:  posting.comments[i], user: user}); %>	    
                        <% }; %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('create_comment', {posting: posting}); %>
</div>